// Copia la configuración de tu proyecto de firebase https://console.firebase.google.com
// y cambia el nombre del archivo a config.js

// No estamos usando config.js. Estamos usando .env

export const firebaseConfig = {
  apiKey: "",
  authDomain: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: "",
  appId: ""
};


